@import "tpl/_common.scss";
@import "tpl/_config.scss";
@import "tpl/_mixin.scss";
.wrap {
    width: 100%;
    height: 100%;
    //overflow: hidden;
    .nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &.none {
            display: none;
        }
        header {
            height: pxTorem(44px);
            width: 100%;
            background: rgba(0, 0, 0, .6);
            a {
                color: #fff;
            }
        }
        footer {
            color: #fff;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: pxTorem(10px) 0;
            background: rgba(0, 0, 0, .6);
            .top {
                display: flex;
                justify-content: space-between;
                padding: pxTorem(10px) 0;
                span {
                    flex: 1;
                    text-align: center;
                }
            }
            .bottom {
                display: flex;
                justify-content: space-between;
                padding: pxTorem(10px) 0;
                li {
                    flex: 1;
                    text-align: center;
                }
            }
        }
    }
    .content {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: pxTorem(5px);
        background: #999;
        overflow-y: auto;
        >h3 {
            padding: pxTorem(5px) 0;
            border-bottom: 1px soli #ccc;
            font-size: pxTorem(16px);
        }
        ul {
            li {
                font-size: pxTorem(16px);
                text-indent: pxTorem(28px);
            }
        }
    }
}