@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*字体大小*/
/*灰色字体颜色*/
/*白色字体*/
/*黑色字体*/
/*按钮灰色边框*/
/*蓝色边框颜色*/
/*蓝色字体颜色*/
/*group 底部边框颜色*/
/*header背景*/
/*搜索框border颜色*/
/*banner buttle*/
/*orange line颜色*/
/*line bottom颜色*/
/* 书背景*/
/* 书边框颜色 */
/*书的阴影*/
/*绿色标签颜色*/
/*限免tag背景*/
/*按钮背景颜色*/
/*按钮border颜色*/
/*标签背景*/
/*标签背景色*/
/*详情界面*/
/* 阅读界面 */
/*阅读界面标题*/
/*超过几行显示省略号*/
/*背景*/
/* 滚动 */
/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrap header {
  width: 100%;
  box-sizing: border-box;
  padding: 0 1.17333rem;
  border-bottom: 1px solid #ddd;
  background: #efeff0;
}

.wrap header .header {
  width: 100%;
  height: 1.17333rem;
  line-height: 1.17333rem;
  display: flex;
  justify-content: space-between;
}

.wrap header .header > span {
  flex: 1;
  text-align: center;
  color: #333;
  font-size: 0.42667rem;
}

.wrap header .header .active {
  color: #ff6600;
}

.wrap header .header .active::after {
  content: '';
  width: 0.93333rem;
  height: 0.02667rem;
  display: block;
  margin: 0 auto;
  background: #777;
}

.wrap header .sign_in {
  position: absolute;
  left: 0;
  top: 0;
  width: 1.17333rem;
  height: 1.17333rem;
  background: url(http://image.read.duokan.com/mfsv2/download/s010/p01O5K5DzsAZ/2ZODzjwkRQh7l3.png) center no-repeat;
  background-size: 50%;
}

.wrap header .login {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 1.17333rem;
  height: 1.17333rem;
  background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01j041d5DOT/boUg2EJlVetOMC.png) no-repeat center;
  background-size: 50%;
}

.wrap main {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrap main .tab-content {
  height: 100%;
}

.wrap main .tab-content .swiper-slide {
  width: 100%;
  height: 100%;
}

.serch_btn {
  width: 95%;
  margin: 0.26667rem auto;
  box-sizing: border-box;
  padding: 0 0.26667rem;
}

.serch_btn .tab-hander {
  display: flex;
  border: 1px solid #ccc;
}

.serch_btn .tab-hander .search {
  display: block;
  width: 1.17333rem;
  height: 1.17333rem;
  background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01dSYLeWtSR/tY73MgTfVw7UAS.png) no-repeat 10px center;
  background-size: 50%;
}

.serch_btn .tab-hander input {
  flex: 1;
  font-size: 0.42667rem;
}

.right {
  box-sizing: border-box;
  padding-right: 1.33333rem;
}

.right > span {
  position: absolute;
  right: 0.53333rem;
  top: 0.53333rem;
  width: 1.17333rem;
  height: 1.17333rem;
  float: right;
  border-radius: 4px;
  background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01yLF3fEj8l/b7UfAdlfufQKML.png) no-repeat center;
  background-size: 60%;
  border: 1px solid #eee;
}
/*# sourceMappingURL=index.css.map */